In [181]:
import pandas as pd
import numpy as np

In [182]:
auto_price = pd.read_csv(r'C:\Users\steph\bepec\Machine Learning\Stats\automobile_pricingLlinear_DecisionTreeClassifier\data\Automobile price data _Raw_.csv')

In [183]:
auto_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [184]:
auto_price.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [185]:
auto_price.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [186]:
auto_price['fuel-type'].unique()

array(['gas', 'diesel'], dtype=object)

In [187]:
auto_price['fuel-type'] = auto_price['fuel-type'].replace(['gas', 'diesel'], [0,1])

In [188]:
auto_price['fuel-type'] .unique()

array([0, 1], dtype=int64)

In [189]:
auto_price['fuel-type'] = pd.to_numeric(auto_price['fuel-type'] )

In [190]:
auto_price['fuel-type'].unique()

array([0, 1], dtype=int64)

In [191]:
auto_price['normalized-losses'].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [192]:
auto_price['normalized-losses'] = auto_price['normalized-losses'].replace('?', np.nan)

In [193]:
auto_price['normalized-losses'].dropna()

3      164
4      164
6      158
8      158
10     192
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 164, dtype: object

In [194]:
auto_price['normalized-losses'].dropna()

3      164
4      164
6      158
8      158
10     192
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 164, dtype: object

In [195]:
auto_price['normalized-losses'].unique()

array([nan, '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [196]:
auto_price['symboling'].unique()

array([ 3,  1,  2,  0, -1, -2], dtype=int64)

In [197]:
auto_price['symboling'] = auto_price['symboling'].replace([ 3,  1,  2,  0, -1, -2], [3,1,2,0,np.nan,np.nan])

In [198]:
auto_price['symboling'] = np.nan_to_num(auto_price['symboling'])

In [199]:
auto_price['symboling'] = auto_price['symboling'].astype(int)

In [200]:
auto_price['symboling'].unique()

array([3, 1, 2, 0])

In [201]:
auto_price['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [202]:
auto_price['aspiration'] = auto_price['aspiration'].replace(['std', 'turbo'], [0,1])

In [203]:
auto_price['aspiration'].unique()

array([0, 1], dtype=int64)

In [204]:
auto_price['num-of-doors'].unique()

array(['two', 'four', '?'], dtype=object)

In [205]:
auto_price['num-of-doors'] = auto_price['num-of-doors'].replace(['four', 'two', '?'], [4,2,np.nan])

In [206]:
auto_price = auto_price.dropna()

In [207]:
auto_price['num-of-doors'] = auto_price['num-of-doors'].astype(int)

In [208]:
auto_price['num-of-doors'].unique()

array([4, 2])

In [209]:
auto_price['body-style'].unique()

array(['sedan', 'hatchback', 'wagon', 'hardtop', 'convertible'],
      dtype=object)

In [210]:
auto_price['body-style'] = auto_price['body-style'].replace(['sedan', 'hatchback', 'wagon', 'hardtop', 'convertible'], [0,1,2,3,4])

In [211]:
auto_price['body-style'].unique()

array([0, 1, 2, 3, 4], dtype=int64)

In [212]:
auto_price['drive-wheels'].unique()

array(['fwd', '4wd', 'rwd'], dtype=object)

In [213]:
auto_price['drive-wheels'] = auto_price['drive-wheels'].replace(['fwd', '4wd', 'rwd'], [0,1,2])

In [214]:
auto_price['drive-wheels'].unique()

array([0, 1, 2], dtype=int64)

In [215]:
auto_price['engine-location'].unique()

array(['front'], dtype=object)

In [216]:
auto_price['engine-location'] = auto_price['engine-location'].replace('front', 1)

In [217]:
auto_price['engine-location'].unique()

array([1], dtype=int64)

In [218]:
auto_price['length'].unique()

array([176.6, 192.7, 176.8, 141.1, 155.9, 158.8, 157.3, 174.6, 173.2,
       144.6, 150. , 163.4, 157.1, 167.5, 175.4, 169.1, 199.6, 159.1,
       166.8, 169. , 177.8, 175. , 190.9, 187.5, 202.6, 180.3, 173. ,
       172.4, 165.3, 170.2, 165.6, 162.4, 173.4, 181.7, 184.6, 170.7,
       178.5, 186.7, 167.3, 168.9, 186.6, 156.9, 157.9, 172. , 173.5,
       173.6, 158.7, 169.7, 166.3, 168.7, 176.2, 175.6, 183.5, 187.8,
       171.7, 165.7, 188.8])

In [219]:
auto_price['width'].unique()

array([66.2, 66.4, 71.4, 64.8, 60.3, 63.6, 63.8, 64.6, 66.3, 63.9, 64. ,
       65.2, 62.5, 66. , 69.6, 64.2, 65.7, 66.5, 66.1, 70.3, 71.7, 70.5,
       64.4, 65.4, 67.9, 68.4, 68.3, 63.4, 65.6, 67.7, 65.5, 67.2, 68.9,
       68.8])

In [220]:
auto_price['height'].unique()

array([54.3, 55.7, 55.9, 53.2, 52. , 50.8, 50.6, 59.8, 50.2, 52.6, 54.5,
       58.3, 53.3, 54.1, 51. , 52.8, 49.6, 53.7, 55.5, 54.4, 56.5, 58.7,
       54.9, 56.3, 49.4, 51.6, 53.5, 54.7, 55.1, 56.1, 49.7, 56.7, 56. ,
       52.5, 53. , 59.1, 53.9, 51.4, 56.2, 57.5])

In [221]:
auto_price['curb-weight'].unique()

array([2337, 2824, 2844, 3086, 2395, 2710, 2765, 1488, 1874, 1909, 1876,
       2128, 1967, 1989, 2535, 2811, 1713, 1819, 1837, 1940, 1956, 2010,
       2024, 2236, 2289, 2304, 2372, 2465, 2293, 4066, 1890, 1900, 1905,
       1945, 1950, 2380, 2385, 2500, 2410, 2425, 2670, 3515, 3750, 3495,
       3770, 3685, 1918, 1944, 2004, 2145, 2370, 2328, 2365, 2405, 2403,
       1889, 2017, 1938, 1951, 2028, 1971, 2037, 2008, 2324, 2302, 3095,
       3296, 3060, 3071, 3139, 3020, 3197, 3075, 3252, 3130, 2191, 2778,
       2658, 2695, 2707, 2758, 2808, 2847, 2050, 2120, 2240, 2190, 2340,
       2510, 2290, 2455, 2420, 2650, 1985, 2040, 2015, 2280, 3110, 2081,
       2109, 2275, 2094, 2122, 2140, 2169, 2204, 2265, 2300, 2540, 2536,
       2551, 2679, 2714, 2975, 2326, 2480, 2414, 2458, 2976, 3016, 3131,
       2261, 2209, 2264, 2212, 2319, 2221, 2912, 3034, 2935, 3042, 3045,
       3157, 2952, 3049, 3012, 3217, 3062], dtype=int64)

In [222]:
auto_price['engine-type'].unique()

array(['ohc', 'l', 'dohc', 'rotor', 'ohcv', 'ohcf'], dtype=object)

In [223]:
auto_price['engine-type'] = auto_price['engine-type'].replace(['ohc', 'l', 'dohc', 'rotor', 'ohcv', 'ohcf'], [0,1,2,3,4,5])

In [224]:
auto_price['engine-type'].unique()

array([0, 1, 2, 3, 4, 5], dtype=int64)

In [225]:
auto_price['make'].unique()

array(['audi', 'bmw', 'chevrolet', 'dodge', 'honda', 'jaguar', 'mazda',
       'mercedes-benz', 'mitsubishi', 'nissan', 'peugot', 'plymouth',
       'porsche', 'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'],
      dtype=object)

In [226]:
auto_price['make'] = auto_price['make'].apply(pd.to_numeric, errors = 'coerce')

In [227]:
auto_price['make'].unique()

array([nan])

In [228]:
auto_price['make'] = np.nan_to_num(auto_price['make'])

In [229]:
auto_price['make'] = auto_price['make'].astype(int)

In [230]:
auto_price['make'].unique()

array([0])

In [231]:
auto_price['num-of-cylinders'].unique()

array(['four', 'five', 'six', 'three', 'two', 'eight'], dtype=object)

In [232]:
auto_price['num-of-cylinders'] = auto_price['num-of-cylinders'].replace(['four', 'five', 'six', 'three', 'two', 'eight'], [4,5,6,3,2,8])

In [233]:
auto_price['num-of-cylinders'].unique()

array([4, 5, 6, 3, 2, 8], dtype=int64)

In [234]:
auto_price['engine-size'].unique()

array([109, 136, 131, 108, 164,  61,  90,  98, 122, 156,  92,  79, 110,
       258,  91,  70,  80, 140, 183, 234,  97, 103, 120, 181, 152, 134,
       151, 121, 146, 171, 141, 130, 173, 145], dtype=int64)

In [235]:
auto_price['symboling'].unique()

array([2, 1, 0, 3])

In [236]:
auto_price['wheel-base'] = auto_price['wheel-base'].astype(int)

In [237]:
auto_price['wheel-base'].unique()

array([ 99, 105, 101,  88,  94,  93, 103,  95,  86,  96, 113,  98, 104,
       110, 106, 115,  97, 100,  91, 107, 108, 102, 109])

In [238]:
auto_price['fuel-system'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', '4bbl', 'idi', 'spdi'], dtype=object)

In [239]:
auto_price['fuel-system'] = auto_price['fuel-system'].apply(pd.to_numeric, errors='coerce')

In [240]:
auto_price['fuel-system'].unique()

array([nan])

In [241]:
auto_price['fuel-system'] = np.nan_to_num(auto_price['fuel-system'])

In [242]:
auto_price['fuel-system'] = auto_price['fuel-system'].astype(int)

In [243]:
auto_price['fuel-system'].unique()

array([0])

In [244]:
auto_price['bore'].unique()

array(['3.19', '3.13', '3.50', '3.31', '2.91', '3.03', '2.97', '3.34',
       '3.60', '2.92', '3.15', '3.63', '3.08', '?', '3.39', '3.76',
       '3.58', '3.46', '3.17', '3.35', '2.99', '3.33', '3.43', '3.70',
       '3.61', '3.94', '3.54', '2.54', '3.62', '3.05', '3.27', '3.24',
       '3.01', '3.78'], dtype=object)

In [245]:
auto_price['bore'] = auto_price['bore'].replace("?", np.nan)

In [246]:
auto_price['stroke'] = auto_price['bore'].replace("?", np.nan)

In [247]:
auto_price['stroke'].unique()

array(['3.19', '3.13', '3.50', '3.31', '2.91', '3.03', '2.97', '3.34',
       '3.60', '2.92', '3.15', '3.63', '3.08', nan, '3.39', '3.76',
       '3.58', '3.46', '3.17', '3.35', '2.99', '3.33', '3.43', '3.70',
       '3.61', '3.94', '3.54', '2.54', '3.62', '3.05', '3.27', '3.24',
       '3.01', '3.78'], dtype=object)

In [248]:
auto_price = auto_price.dropna()

In [249]:
auto_price['compression-ratio'] = auto_price['compression-ratio'].astype(int)

In [250]:
auto_price['compression-ratio'].unique()

array([10,  8,  9,  7, 21, 22, 23])

In [251]:
auto_price['horsepower'].unique()

array(['102', '115', '110', '140', '101', '121', '48', '70', '68', '88',
       '145', '58', '76', '60', '86', '100', '176', '84', '120', '123',
       '155', '116', '69', '55', '97', '152', '160', '200', '95', '142',
       '143', '73', '82', '94', '111', '62', '56', '112', '92', '161',
       '156', '52', '85', '90', '114', '162', '134', '106'], dtype=object)

In [252]:
auto_price['peak-rpm'].unique()

array(['5500', '5800', '4250', '5100', '5400', '5000', '4800', '6000',
       '4750', '4350', '5200', '4150', '5600', '5250', '4900', '4400',
       '4500', '6600', '4200', '5300'], dtype=object)

In [253]:
auto_price['peak-rpm'].unique()

array(['5500', '5800', '4250', '5100', '5400', '5000', '4800', '6000',
       '4750', '4350', '5200', '4150', '5600', '5250', '4900', '4400',
       '4500', '6600', '4200', '5300'], dtype=object)

In [254]:
auto_price['city-mpg'].unique()

array([24, 18, 19, 17, 23, 21, 47, 38, 37, 31, 49, 30, 27, 25, 15, 26, 22,
       16, 45, 28, 32, 35, 34, 29, 20], dtype=int64)

In [255]:
auto_price['highway-mpg'].unique()

array([30, 22, 25, 20, 29, 28, 53, 43, 41, 38, 24, 54, 42, 34, 33, 31, 19,
       32, 27, 18, 37, 50, 23, 26, 36, 39, 47, 46], dtype=int64)

In [256]:
auto_price['price'].unique()

array(['13950', '17450', '17710', '23875', '16430', '16925', '20970',
       '21105', '5151', '6295', '6575', '5572', '6377', '7957', '6229',
       '6692', '7609', '8921', '12964', '6479', '6855', '5399', '6529',
       '7129', '7295', '7895', '9095', '8845', '10295', '12945', '10345',
       '32250', '5195', '6095', '6795', '6695', '7395', '8495', '10595',
       '10245', '11245', '18280', '25552', '28248', '28176', '31600',
       '35056', '5389', '6189', '6669', '7689', '9959', '8499', '6989',
       '8189', '9279', '5499', '7099', '6649', '6849', '7349', '7299',
       '7799', '7499', '7999', '8249', '8949', '9549', '13499', '14399',
       '17199', '19699', '18399', '11900', '13200', '15580', '16900',
       '16630', '17950', '18150', '22018', '11850', '12170', '15040',
       '15510', '18620', '5118', '7053', '7603', '7126', '7775', '9960',
       '9233', '11259', '7463', '10198', '8013', '11694', '5348', '6338',
       '6488', '6918', '7898', '8778', '6938', '7198', '7788', '7738',
       '8358', '9258', '8058', '8238', '9298', '9538', '8449', '9639',
       '9989', '11199', '11549', '17669', '8948', '10698', '9988',
       '10898', '11248', '16558', '15998', '15690', '7975', '7995',
       '8195', '9495', '9995', '9980', '12940', '13415', '15985', '16515',
       '18420', '18950', '16845', '19045', '21485', '22470', '22625'],
      dtype=object)

In [257]:
auto_price.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,0,0,0,4,0,0,1,99,...,109,0,3.19,3.19,10,102,5500,24,30,13950
4,2,164,0,0,0,4,0,1,1,99,...,136,0,3.19,3.19,8,115,5500,18,22,17450
6,1,158,0,0,0,4,0,0,1,105,...,136,0,3.19,3.19,8,110,5500,19,25,17710
8,1,158,0,0,1,4,0,0,1,105,...,131,0,3.13,3.13,8,140,5500,17,20,23875
10,2,192,0,0,0,2,0,2,1,101,...,108,0,3.50,3.50,8,101,5800,23,29,16430

In [258]:
a = auto_price.iloc[:,:25]

In [259]:
b = auto_price.iloc[:,25:]

In [260]:
from sklearn.model_selection import train_test_split

In [261]:
a_train, a_test, b_train, b_test = train_test_split(a,b,test_size=0.2)

In [262]:
from sklearn.tree import DecisionTreeClassifier

In [263]:
model = DecisionTreeClassifier()

In [264]:
model.fit(a_train, b_train)

DecisionTreeClassifier()

In [265]:
b_predict = model.predict(a_test)

In [266]:
from sklearn.metrics import mean_squared_error, r2_score

In [267]:
r2_score(b_predict, b_test)

0.8906188779242477

In [268]:
from sklearn.model_selection import cross_val_score

In [269]:
accuracies = cross_val_score(estimator= model, X=a, y=b, cv=2)

C:\Users\steph\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(("The least populated class in y has only %d"

In [270]:
print("Accuracy Mean : {}, Accuracy Std : {}".format(accuracies.mean(), accuracies.std()))

Accuracy Mean : 0.06914556962025317, Accuracy Std : 0.005854430379746832